.a11y-view__violation-body--collapsed {
	display: none;
}

/* Temporary highlight applied when clicking a violation node selector */
.a11y-inspector--highlight {
	outline: 2px solid red !important;
	outline-offset: 2px;
}
